{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="flex flex-col h-screen">
   <div id="header" class="flex bg-slate-700 px-4 py-6 justify-between items-center mx-auto mb-3 text-white text-xl w-full">
        <span>Members only</span>
        <ul class="flex flex-wrap px-10">
            <li><a class="px-8 hover:text-slate-400" href="{% url 'post:post_list' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li>Hello {{ request.user.first_name }},
                    <a class="hover:text-slate-400" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </span>
   </div> 
   <main id="content" class="mb-auto flex-grow">
        {% block content %}{% endblock content %}
   </main>
   <footer class="bg-slate-700 px-4 py-6 mx-auto mt-3 text-white text-xl w-full text-center">
        <p>&copy; 2022 Duvan Navarro</p>
   </footer>
</body>
</html>