{% extends 'base.html' %}
{% load tailwind_filters %}

{% block title %}
    Create an account
{% endblock title %}

{% block content %}
    <div>
        <h1 class="font-bold text-xl py-4">Create an account</h1>
        <p class="pb-3">Please, sign up using the following form:</p>
        <form action="" method="post">
            {{ user_form|crispy }}
            {% csrf_token %}
            <button class="bg-transparent hover:bg-indigo-400 text-indigo-600 font-semibold hover:text-white py-2 px-4 border border-blue-400 hover:border-transparent rounded"><input type="submit" value="Create my account"></button>
        </form>
    </div>
{% endblock content %}
